<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Select a place on map and rate<span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="username">Username <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="OldandGold" ng-model="formData.username" required>
                </div>
               			
				<div class="infoWindowPopup">
				  <table>
					<tr>
					  <td>
						<input type="radio" name="radiog_dark" id="radio4" class="css-checkbox" value="1" ng-model="formData.rating" />
						<label for="radio4" class="css-label radGroup2"></label>
					  </td>
					  <td>
						<input type="radio" name="radiog_dark" id="radio5" class="css-checkbox" value="2" ng-model="formData.rating" />
						<label for="radio5" class="css-label2 radGroup2"></label>
					  </td>
					  <td>
						<input type="radio" name="radiog_dark" id="radio6" class="css-checkbox" value="3" ng-model="formData.rating" />
						<label for="radio6" class="css-label3 radGroup2"></label>
					  </td>
					  <td>
						<input type="radio" name="radiog_dark" id="radio7" class="css-checkbox" value="4" ng-model="formData.rating" />
						<label for="radio7" class="css-label4 radGroup2"></label>
					  </td>
					  <td>
						<input type="radio" name="radiog_dark" id="radio8" class="css-checkbox" value="5" ng-model="formData.rating" />
						<label for="radio8" class="css-label5 radGroup2"></label>
					  </td>
					</tr>
				  </table>
				</div>
                <div class="form-group">
                    <label for="language">Place Name</label>
                    <input type="text" class="form-control" id="language" placeholder="Name of the place" ng-model="formData.placeName" required>
                </div>
                <div class="form-group">
                    <label for="language">Remark</label>
                    <input type="text" class="form-control" id="language" placeholder="Comma separated adjectives" ng-model="formData.remark" required>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>